
/*global*/
.image-holder {
	position: relative;
	overflow: hidden;
}
.image-holder img {
	width: 100%;
}
.scroll-holder {
	overflow: auto;
	position: relative;
}
#contract-list-wrap {
	position: relative;
}

.form-max-450 {
	max-width: 450px;
}
.members-table {
	min-width: 930px;
}
.table-min-440 {
	min-width: 440px;
}
.table-min-750 {
	min-width: 750px;
}
.table-min-580 {
	min-width: 580px;
}
.margin-clear {
	margin: 0;
}
.x_content {
	margin-top: 15px;
}
.btn-disabled {
	opacity: 0.5;
	pointer-events: none;
}
.tab-disabled {
	opacity: 0.5;
	pointer-events: none;
}
.type-1 {
	float: left;
}
.col-pd {
	padding-left: 10px;
	padding-right: 10px;
}
/*blobal-end*/
.nav-btns {
	margin-top: 10px;
}
.nav-btns li .btn {
	margin-bottom: 0;
}
.top_nav .nav_menu {
	height: 58px;
}
.personal-foto {
	text-align: center;
}
.personal-foto .image-holder {
	min-height: 220px;
	min-width: 212px;
	max-height: 300px;
	max-width: 300px;
	display: block;
	margin: 0 auto;
	background: url(../img/content/noavatar.png) 50% 50% no-repeat;
	background-size: cover
}
.tile-stats {
	min-height: 122px;
}
.add-area {
	position: relative;
}
.input_fields_wrap .add-area .add_field_button {
	top: 4px;
	right: -27px;
	position: absolute;
	padding: 5px;
	line-height: 11px;
	margin: 0;
}
.personal-foto .add-btn {
	display: inline-block;
	margin-top: 20px;
}
.members-filters .filters-list {
	overflow: hidden;
	margin-bottom: 20px;
	max-height: 0;
	transition: max-height .2s
}
.members-filters.open .filters-list {
	overflow: initial;
	max-height: 1000px;
	transition: max-height .2s
}
.members-filters .filters-tittle .fa-sort-up {
	display: none;
}
.members-filters.open .filters-tittle .fa-sort-desc {
	display: none;
}
.members-filters.open .filters-tittle .fa-sort-up {
	display: inline-block;
}
.members-filters li {
	vertical-align: bottom;
}
.members-filters li .form-group {
	margin-bottom: 0
}
.members-filters li a {
	margin-bottom: 0;
	display: inline-block;
}

.top-btns {
	margin-top: 10px;
}

.filters-tittle {
	display: inline-block;
	font-size: 17px;
	margin-bottom: 20px;
}
.materials-type {
	margin-top: 20px;
}
.materials-type label {
	padding-left: 0;
	padding-right: 20px;
	margin-top: 10px;
}
.percent.nop:after {
	display: none;
}
.percent.nop {
	top: 43px;
}
.x_count {
	font-size: 22px;
	color: #34495e;
	margin-bottom: 0;
	height: 32px;
}
.percent {
	font-size: 22px;
	margin-top: 2px;
}
.all-blocks {
	max-width: 651px;
	float: left;
}
.products-block {
	float: left;
	max-width: 435px;
}
.percent,
.percent-top {
	line-height: 1em;
	position: relative;
	top: 40px;
	color: #34495e;
}
.percent-top  {
	display: block;
	font-size: 16px;
	position: relative;
	max-width: 60px;
	margin: 0 auto;
	padding-bottom: 2px;
}
.percent-top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #34495e;
}
.stat-panel-holder {
	padding: 20px;
}
.stat-panel-holder .panel-heading {
	height: 60px;
}
 .lang-panel {
	position: absolute;
	top: 20px;
	right: 21px;
	font-weight: bold;
}
.stat-panel .panel-heading {
	position: relative;
	padding: 20px 20px;
}
.stat-panel .to-dash {
	position: absolute;
	top: 12px;
	left: 1px;
	margin-bottom: 0;
	left: 21px;
}
.chart-resources  canvas {
 	position: absolute;
    top: 0;
    left: 0;
 }
.stat-panel {
	max-width: 1120px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
.stat-panel .x_panel {
	display: inline-block;
	width: 207px;
	vertical-align: top
}
.stat-panel .x_content {
	margin-top: 0;
}
.stat-panel .x_panel h5 i {
	margin-right: 10px;
}

.chart-resources {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
 }
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.28);
	z-index: 999999999;
}
#preloader img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.stat-panel .panel-body > * {
	font-size: 0;
	letter-spacing: 0;
}
.stat-panel .x_panel {
	margin: 5px;
}

#contract-list-wrap {
	/*margin-top: 20px;*/
}
.cont-nav-holder .form-group,
.districs .form-group {
	margin-top: 10px;
	vertical-align: bottom;
}
.cont-nav-holder label {
	display: block;
}
.cities-filters  label,
.districs label {
	display: block;
}
.districs {
	margin-bottom: 20px;
}
.cities-filters .form-group {
	margin-top: 10px;
	vertical-align: bottom;
}
#city-list-wrap {
	margin-top: 20px;
}
.res-table .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.pkrw .thumbnail {
	height: auto;
	width: 100%;
}

#per-list li {
	padding: 0;
}
#per-list {
	position: absolute;
	top: 20px;
	right: 112px;
}
#per-list li a {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	/* border-radius: 4px; */
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: background .2s;
}
#per-list li a.active,
#per-list li a:hover {
	background: #e4e4e4;
	transition: background .2s;
}
.login-holder {
	max-width: 480px;
	margin: 0 auto;
	margin-top: 60px;
}
.stat-panel .x_title span {
	color: inherit;
}
/* .personal-form-23 .form-horizontal label {
	padding: 0;
}*/
.custom-filters .form-group .form-control {
	width: 100%;
}
.custom-filters .form-group {
	width: 150px;
} 
.inline-el {
	display: inline-block;
}
.custom-filters .inline-el {
	margin-bottom: 2px;
	margin-top: 10px;
}
#contract-list-wrap .btn-group {
	width: 88px;
}
#select-address-panel .form-control {
	width: 250px;
}
.dataTable .btn-group {
	/*width: 91px;*/
}
.stret-table .form-control {
	width: 250px;
}
.b-tittle {
	margin-bottom: 20px;
}
#contract-list-wrap tr th {
	vertical-align: middle;
}
.diss-btn {
	display: inline-block;
}
.filename {
	text-align: left;
}
.upload-photo-cont {
	text-align: left;
}
.street-btn {
	width: 170px;
	text-align: center;
}
select.error, textarea.error, input.error {
	border: 1px solid #FF0000 !important;
}
/*select, textarea, input {*/
	/*border: 1px solid #fff !important;*/
/*}*/
select.error ~ .select2-container {
	border: 1px solid #FF0000 !important;
}
.x_title h2  {
	overflow: initial;
	white-space: normal;
	width: 100% !important;
}
#contract-list-wrap .date-holder {
	white-space: nowrap;
}
#production-form .select2-container {
	margin-bottom: 10px;
}
.dates-bl {
	display: inline-block;
	vertical-align: bottom;
}

.offer-region-price {
	width: 150px;
	display: inline-block;
	height: 38px;
	/* margin-bottom: -10px; */
	top: 2px;
	position: relative;
}

.price-add-btn, .price-remove-btn,
.utm-add-btn, .utm-remove-btn{
	height: 38px;
	position: relative;
	top: 3px;
}

.table-price-list ul {
	list-style: none;
	padding-left: 0;
}

.table-landings-list ul,
.table-action-list ul {
	list-style: none;
}

.table-price-list ul li,
.table-landings-list ul li {
	width: 170px;
}

.table-landings-list ul li {
	width: 80%;
}

.table-action-list ul li {
	margin-right: 30%;
}

.table-action-list a.btn {
	width: 90%;
}

.table-landings-list ul li a {
	color: #337ab7;
	text-decoration: underline;
	cursor: pointer;
}

.table-price-list ul li span:nth-child(3) {
	/*float: right;*/
	margin-left: 20px;
}

/*.table-price-list ul li span:nth-child(2) {*/
	/*float: right;*/
/*}*/

.table-price-list ul li span:nth-child(1) {
	position: relative;
	top: 4px;
}

.table-landings-list ul li span:nth-child(2),
.table-action-list ul li span:nth-child(2) {
	float: right;
}

.table-action-list ul li span:nth-child(2) {
	font-size: 17px;
}

.table-action-list ul li span:nth-child(1),
.table-landings-list ul li span:nth-child(1) {
	float: left;
	/*margin-left: 10%;*/
}

	/* *********  tables styling  ******************************* */

.bulk-actions {
	display: none;
}

table.countries_list {
	width: 100%;
}

table.countries_list td {
	padding: 0 10px;
	line-height: 30px;
	border-top: 1px solid #eeeeee;
}

.dataTables_paginate a {
	padding: 6px 9px !important;
	background: #ddd !important;
	border-color: #ddd !important;
}

.paging_full_numbers a.paginate_active {
	background-color: rgba(38, 185, 154, 0.59) !important;
	border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
	border: 1px solid #E7E7E7 !important;
	background: #E7E7E7 !important;
	box-shadow: none !important;
}

table.jambo_table {
	border: 1px solid rgba(221, 221, 221, 0.78);
}

table.jambo_table thead {
	background: rgba(52, 73, 94, 0.94);
	color: #ECF0F1;
}

table.jambo_table tbody tr:hover td {
	background: rgba(38, 185, 154, 0.07);
	border-top: 1px solid rgba(38, 185, 154, 0.11);
	border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}

table.jambo_table tbody tr.selected {
	background: rgba(38, 185, 154, 0.16);
}

table.jambo_table tbody tr.selected td {
	border-top: 1px solid rgba(38, 185, 154, 0.40);
	border-bottom: 1px solid rgba(38, 185, 154, 0.40);
}

.dataTables_paginate a {
	background: #ff0000;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

table.dataTable th.focus,
table.dataTable td.focus {
	outline: 2px solid #1ABB9C !important;
	outline-offset: -1px;
}

table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.display thead th {
	padding: 8px 18px 8px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

table.display thead th:active, table.display thead td:active {
	outline: none;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.top, .bottom {}
.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

.dataTables_wrapper .dt-buttons {
	float:right;
}

.table-header-center th, .table-row-center td {
	text-align: center;
}
.table > thead > tr > th {
	vertical-align: middle;
}


/* *********  /tables styling  ****************************** */

span.label.payment-status {
	font-size: 100%;
}

body {
	font-size: 14px;
}

a.domain-link:hover {
	text-decoration: underline;
}

.utm-row .form-group:nth-of-type(1) {
	padding-left: 0;
}

.utm-row {
	clear: both;
}

.offer-utm-name,
.offer-utm-value {
	height: 38px;
	/* margin-bottom: -10px; */
	top: 2px;
	/*position: relative;*/
}

.utm-rows select {
	width: 192px;
}

.period {
	text-decoration: none;
	border-bottom: 1px dashed;
	margin-top: 14px;
	display: block;
	width: 154px;
	cursor: pointer;
}

/*.btn span.glyphicon {*/
	/*opacity: 0;*/
/*}*/
/*.btn.active span.glyphicon {*/
	/*opacity: 1;*/
/*}*/


.material-switch > input[type="checkbox"] {
	display: none;
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
	background: inherit;
	left: 20px;
}

#offers-list-wrap .table-bordered>tbody>tr>td {
	border-left: 0px solid white;
	border-right: 0px solid white;
}

#offers-list-wrap .table-bordered {
	border-left: 0px solid white;
	border-right: 0px solid white;
}

.notifications_list > li > a > span.image > i.fa {
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	float: left;
	margin-right: 10px;
	width: 29px;
	height: 29px;
	font-size: 30px;
}

.notifications_list > li > a > span.details > span.author {
	font-size: 11px;
	font-weight: bold;
}

ul.msg_list li.list-group-item-info {
	color: #31708f;
	background-color: #d9edf7;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sunday_notify {
	margin-bottom: 0;
	color: #5A738E;
	background-color: #fcf8e3;
	border-color: #eea236;
}

.sunday_notify > p {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	margin-top: 11px;
}

.close-sunday_notify {
	position: absolute;
	right: 10px;
	top: 2px;
	cursor: pointer;
	z-index: 9999999;
}