@media (max-width: 1200px) {
	.all-blocks {
		max-width: 435px;
	}
	.stat-panel {
		max-width: 466px;
	}
	.stat {
		display: none;
	}
}
@media (max-width: 1100px) {
	.ui-datepicker {
		width: 20em;
	}
	#pesonal-area-tabs .mobile-hide {
		display: none;
	}
	#pesonal-area-tabs .page-title .title_left {
		width: 100%;
	}
	.members-filters > ul > li {
		display: block;
		width: 100%;
		max-width: 300px;
	}
	.members-filters .nav-btns {
		margin-top: 20px;
		text-align: right;
	}
	#add-new-person .scroll-holder {
		margin-bottom: 20px;
	}

	ul.bar_tabs {
		height: 85px;
	}
	ul.bar_tabs>li.active {
		margin-top: 0;
	}
	ul.bar_tabs>li.active a {
		margin-bottom: 0;
		border-bottom: 2px solid transparent !important;
	}
	ul.bar_tabs>li {
		margin-top: 0;
	}

}
@media (max-width: 768px) {
	.xs-mr-top {
		margin-top: 10px;
		display: block;
	}
	.custom-filters .form-group {
		width: 100%;
	} 
}
@media (max-width: 540px) {
	#pesonal-area-tabs .mobile-hide,
	.xs-hide {
		display: none;
	}
	#pesonal-area-tabs .page-title .title_left {
		width: 100%
	}
	#pesonal-area-tabs ul.bar_tabs>li {
		margin-left: 5px;
	}
	#pesonal-area-tabs ul.bar_tabs>li a {
		padding: 10px 7px
	}
	.login-holder {
		max-width: 300px;
	}
	.stret-table .form-control {
	width: 100%;
	}
}
